
//Breakpoints
$breakpoints: (
    xsmall: 375px,
    small: 580px,
    medium: 768px,
    large: 1050px,
    xlarge: 1440px,
    xxlarge: 1920px
);

$max-content-width: 1420px;

$light-blue: #44aff1;
$skeleton-background-dark: #dfdfdf;
$skeleton-background-light: #efefef;
$skeleton-border-radius: 4px;

//Breakpoint Mixin
@mixin respond-to($condition, $breakpoint) { 
  @if map-has-key($breakpoints, $breakpoint) {
    @media (#{$condition}: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else if map-has-key($breakpoints, $breakpoint) == false {
    @media (#{$condition}: #{$breakpoint}) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

//Button List
$buttons: 'button', '.button', 'a.button', '[type=submit]','[type=button]';